@tailwind base;
@tailwind components;
@tailwind utilities;

/* Crear un root para colores 
:root{}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* -------Styles Loading-------- */

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingIndicator {
  animation: spin 1s linear infinite;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #333; /* Cambia el color según tus preferencias */
  border-bottom-color: #333; /* Cambia el color según tus preferencias */
  width: 20px;
  height: 20px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
